* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    color: white;
}

.viewport {
    width: 100%;
    height: 100vh;
    background-color: black;
    position: relative;
    /* DEBUG */
    border: 2px solid red;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.viewport_button {
    position: absolute;
    top: .4rem;
    right: .4rem;
    font-size: .5rem;
}

.viewport_button > div, .viewport_button > i {
    margin-left: .3rem;
    padding: .15rem .15rem;
    background-color: gray;
    border-radius: .2rem;
}

.container {
    width: 90%;
    margin: 2rem auto;
    /* DEBUG */
    background-color: aquamarine;
}

.col {
    width: calc(100% / 7 - 1em);
    position: relative;
}

.col > img {
    display: block;
}

.user {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: .5rem;
    padding: .3rem;
    background-color: rgba(128, 128, 128, 0.5);
}