html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    color: white;
}

.viewport {
    width: 100%;
    height: 100vh;
    padding-top: 3rem;
    background-color: black;
    position: relative;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    /* align-content: flex-start; */
}

.viewport_button {
    position: absolute;
    top: .4rem;
    right: .4rem;
    font-size: .5rem;
}

.viewport_button > div, .viewport_button > i {
    margin-left: .3rem;
    padding: .15rem .15rem;
    background-color: gray;
    border-radius: .2rem;
    z-index: 1;
}

.container {
    width: 90%;
    margin: 0 auto;
    height: 80%;
    overflow: auto;
    /* DEBUG */
    /* background-color: aquamarine; */
}

.col {
    width: calc(100% / 7 - .3em);
    position: relative;
    margin-bottom: .3em;
}

.col > img {
    display: block;
}

.user {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: .5rem;
    padding: .3rem;
    background-color: rgba(128, 128, 128, 0.5);
}

footer {
    position: fixed;
    bottom: 0;
    margin-top: 1.5rem;
    background-color: gray;
    padding: .7rem;
    width: 100%;
}